.achievements-view {
  padding: min(20px,2%);
}

.achievements-view .title-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievements-view .title-image h1 {
  width: fit-content;
  margin-left: 10px;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
}

.achievements-view .centerer {
  margin: 0 auto;
  width: fit-content;
}

.achievements-view .search-bar {
  display: flex;
  align-items: center;
  width: 85%;
}

.achievements-view .flex-grow {
  flex-grow: 1;
}
