@import "tailwindcss";

@layer components {
  .filter-field {
    @apply flex flex-col items-center m-1.5;
  }

  .filter-input {
    @apply bg-filter-gray text-text-gray;
  }

  .filter-select {
    @apply bg-filter-gray text-text-gray p-1.5 border-none rounded-sm break-normal;
  }

  .page-switch-button {
    @apply flex items-center text-5xl border-none bg-none rounded-md h-fit px-1.5;
  }

  .page-switch-button-active {
    @apply text-white cursor-pointer hover:bg-filter-gray;
  }

  .page-switch-button-inactive {
    @apply text-text-gray cursor-not-allowed hover:bg-none;
  }

  .blurry-background {
    z-index: -1;
    background: conic-gradient(from 75deg,#333   15deg ,#000000 0 30deg ,#0000 0 180deg, #000000 0 195deg,#333 0 210deg,#0000 0) calc(0.5*100px) calc(0.5*100px/0.577),
      conic-gradient(#333   30deg ,#666 0 75deg, #333 0 90deg, #000000 0 105deg, #666 0 150deg, #000000 0 180deg,#666 0 210deg, #333 0 256deg, #000000 0 270deg,#333 0 286deg, #000000 0 331deg,#666 0);
    background-size: 100px calc(100px/0.577);
    filter: blur(20px);
  }

  .blurry-background::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.7)
    );
    opacity: 0.5;
    mix-blend-mode: overlay;
    animation: randomBlur 8s infinite alternate ease-in-out;
  }
}

@keyframes randomBlur {
  0% {
    transform: scale(1);
    filter: blur(5px);
  }
  50% {
    transform: scale(1.1);
    filter: blur(15px);
  }
  100% {
    transform: scale(1);
    filter: blur(5px);
  }
}

@theme {
  --color-background-dark-blue: #0e141b;
  --color-background-gray: #23262e;
  --color-filter-gray: #252a31;
  --color-text-gray: #7d7e7f;
  --color-text-red: #820000;
  --color-completion-blue: #179efb;
  --color-button-transparent-gray: rgba(119, 119, 119, 0.27);
}
